{{#each tasks as |task|}}
<table id="user-tasks-table" class="table table-striped signed-in-view">

  <thead>
    <tr>
      <th>#</th>
      <th>Description</th>
    </tr>
  </thead>

      <tr>
        <td>{{task.id}}</td>
        <td>{{task.description}}</td>
        <td><button id="{{task}}" class="btn btn-danger" deleteTask>Delete</button></td>
        <td><button id="{{updateTask}}" value="update" class="btn btn-info">Edit</button></td>
      </tr>

</table>
{{/each}}
