{{#each tasks as |task|}}
<table id="user-tasks-table" class="table table-striped signed-in-view">

  <thead>
    <tr>
      <th>#</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody id="my-movies-table-body">

      <tr>
        <td>{{task.id}}</td>
        <td>{{task.description}}</td>
        <td><button id="{{deleteTask}}" class="btn btn-danger">Delete</button></td>
        <td><button id="{{updateTask}}" class="btn btn-info">Edit</button></td>
      </tr>

  </tbody>

</table>
{{/each}}
