$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
.container-fluid {
  background-color: #d2e1dd
}

li a {
  width:  300px;
  height: 25px;
  border-radius: 5px;
  margin: -8px 5px 0 -10px;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
  }

#authentication h1 {
    color: #036;
    // font-size: 35px;
    text-align: center;
    font-weight: bold;
}

#authentication .form-group {
    margin-bottom: 25px;
}

#sign-in .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}

#sign-in .link {
  font-size: 13px;
}

#sign-out .link {
  font-size: 13px;
	display: block;
}

#signUp .btn.btn-custom {
  font-size: 14px;
	margin-bottom: 20px;
}

#signUp .link {
  font-size: 13px;
	display: block;
}

#change-password .btn.btn-custom {
  font-size: 14px;
	margin-bottom: 20px;

}
#change-password .link {
  font-size: 13px;
	display: block;
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #036;
}
.btn-custom {
    color: #fff;
	background-color: #699;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

.complete-list {
  float:right;
  width:46%;
}

ul {
  list-style:none;
  padding:0;
  margin:0;
}

li{
  padding:10px;
  border-bottom:1px dotted #CCC;
}


#createTask {
display: none
}

#message {
   text-align: center;
   color: #036;
   font-size: 20px
 }
